@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
	font-family: 'Lato', sans-serif;
}

.wrapper{
width: 800px;
margin: 0 auto;
}
.col1{
	width: 25%;
	float: left;
}
.col2{
	width: 75%;
	float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
ul{
	list-style: none;
	padding-left: 0;
}